body{
 background-color:#02000e;
 margin: 0;
}


#Gradient{
position: absolute;
width: 100%;
height: 453px;
left: 0px;
bottom: 0%;

background: linear-gradient(4.79deg, #3f4380 -34.32%, rgba(5, 0, 51, 0) 54.38%);
}

#TypeBox{
position: fixed;
width: 50%;
height: 40px;
left: 25%;
right: auto;
bottom: 7%;

background: rgba(3, 1, 27, 0.74);
border: 4px solid #7fa6ee;

font-family: "Pixelify Sans", monospace;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 34px;
color: #abc8fd;

border-style: solid;
    border-width: 4px;
    border-radius: 8px;
}
#tBlock{
position: fixed;
width: 70%;
height: 60px;
left: 20%;
right: auto;
bottom: 7%;  
}


#Image{
position: absolute;
width: 50%;
height: 45%;
left: 25%;
top: 5%;
object-fit: cover;

border: 7px solid #0c1142;
}


p{
position: absolute;
width: 70%;
height: 15%;
left: 16%;
top: 52%;

font-family:  "Pixelify Sans", monospace;
font-style: normal;
font-weight: 700;
font-size: 150%;
line-height: 130%;
letter-spacing: 0.15em;
color: #bad0fa;
text-align: left;

}


#hint{
position: fixed;
width: 8px;
height: 8px;
left: 76%;
bottom: 8%;
padding: 12px;


font-family:  "Pixelify Sans", monospace;
font-style: normal;
font-weight: bolder;
font-size: 150%; 
color: #57ffdb;
text-align: center;
border-radius: 150px;
border: 4px solid #54ebb1 ;
background-color: #060c29;
}

#htext{
    position: absolute;
    left: 20.67%;
    right: 20.61%;
    top: 0%;
    bottom: 100.65%;
    text-align: center;
}

#open{
position: absolute;
width: 100%;
height: 100%;

background-color: #050a35
}

#start{
position: absolute;
width: 15%;
height: 5%;
top: 50%;
left: 40%;

font-family:  "Pixelify Sans", monospace;
font-style: normal;
font-weight: 600;
font-size: 23px;
letter-spacing: 3px; 
color: #57ffdb;

background-color: #1f2781;

border: inset 4px rgb(15, 79, 104);
}

#hintPop{
position: absolute;
width: 10%;
height: 30%;
top: 15%;
left: 85%;

border: solid #7fa6ee 5px;
background-color: #3f43808c;

font-family:  "Pixelify Sans", monospace;
font-style: normal;
font-weight: 600;
font-size: 16px;
letter-spacing: 3px; 
color: #57ffdb;
}

#wrong{
position: absolute;
 width: 50%;
 height: 10%;
top: 30%;
left: 32%;

font-family:  "Pixelify Sans", monospace;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 32px;
letter-spacing: 0.20em;
color: #bad0fa;
text-align: center;
background-color: #030822cc; 
}


